#icon-search{
  width: 10px;
  padding: 0 15px;
}


#icon-menu{
  width: 15px;
  padding: 0 25px;

}

.search-tool{
 padding: 0;
 margin: 0;
}

#input-search{
  padding-right: 350px;
  margin: 0px;
  border-radius: 2px 0 0 2px;
}

#search-button{
  padding-right: 5px;
  margin-right: 0px;
  position: absolute;
  border-radius: 0 2px 2px 0;
}

#logo{
  width: 80px;
}


#icon-cam{
  width: 20px;
}

#icon-bell{
  width: 15px;
}

#icon-grid{
  width: 15px;
}

#icon-avatar{
  background: #333;

  width: 30px;
  height: 30px;

  border-radius: 20px;
  position: relative;
}


.container{
  display: flex;
  align-items: center;

  justify-content: space-between;

  background: gray;
}

.menu-icons{
  width: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.recomendations{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: green;
  width: 500px;
}

.recomendations p{
  justify-content: flex-start !important;  
}

hr{
  border: solid gray;
  border-width: 1px 100px;
  
  border-radius: 5px;
}
