body {
  background-color:#f9f9f9;
}

#icon-search {
  width: 10px;
  padding: 0 15px;
}


#icon-menu {
  width: 15px;
  padding: 0 25px;
}

.search-tool {
 padding: 0;
 margin: 0;
}

#input-search {
  padding-right: 350px;
  margin: 0;
  border-radius: 2px 0 0 2px;
}

#search-button {
  padding-right: 5px;
  margin-right: 0px;
  position: absolute;
  border-radius: 0 2px 2px 0;
}

#logo {
  width: 80px;
}


#icon-cam {
  width: 20px;
}

#icon-bell {
  width: 15px;
}

#icon-grid {
  width: 15px;
}

#icon-avatar {
  background: #333;

  width: 30px;
  height: 30px;

  border-radius: 20px;
  position: relative;
}

#navbar {
  background: #fff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f9f9f9;
}

.menu-icons {
  width: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.recomendations {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f9f9f9;
  width: 500px;
  margin-left: 50px;
}

.recomendations p {
  margin-left: 0;
}

.container-co2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 35px;
  background: #f9f9f9;
}

iframe, input, button {
  border: none;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 300px;
  margin-right: 300px;
}

hr {
  border: solid lightgray;
  border-width: 0.5px 250px;
  margin-top: 5px;
  margin-bottom: 15px;
}

#co3 {
  width: 400px;
  background: #f9f9f9;
  display: flex;
  margin-bottom: 10px;
}

#co4 {
  width: 180px;
  height: 100px;
  background: #333;
  margin-right: 5px;
}

#co5 {
  height: 100px;
}

#co5 h3 {
  font-size: 1.2rem;
  padding-bottom: 5px;
  margin: 0;
}

#co5 h4, p {
  font-size: 1rem;
  font-weight: normal;
  color: #333;
  padding: 0;
  margin: 0;
}

#player {
  margin: 35px 0 10px 30px;
}

#interactions-bar img {
  width: 20px;
}

#interactions-bar {
  display: flex;
  align-items: center;
  width: 350px;
  height: 50px;
  justify-content: space-around;
}

.like-bar {
  width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#chanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#user-chanel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 400px;
  height: 50px;
}

#chanel-info {
  margin-left: 10px;
}

#chanel-info h3 {
 margin: 0em;
}

#description {
  margin: 15px 40px;
  width: 800px;
}

#total-comments {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center ;
}

#total-comments img {
  margin-left: 20px;
  width: 20px;
}


.insert-comment {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 30px 0;
}

.comment {
  width: 600px;
  margin-left: 15px;
  border-bottom: 1px solid #333;
}

.comment-head {
  display: flex;
  flex-direction: flex-start;
  align-content: center;
  margin-bottom: 40px;
}

.comment-icons-bar {
  display: flex;
  align-items: center;
  align-content: center;
  height: 20px;
}

.comment-icons-bar img {
  width: 20px;
}

.comment-icons-text {
  display: flex;
  align-items: center;
  height: 20px;
}

.comment-icons-text span {
  margin-left: 5px;
}

#comment-msg {
  margin: 10px 0 25px 0;
}

.commente-message {
  word-break: break-all;
  width: 800px;
}

.comment-text-group {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-left: 15px;
}

.comment-icons-bar p {
  margin-left: 5px;
  margin-right: 10px;
}

.main-page {
  display: flex;
  justify-content: flex-start;
  width: auto;
}
